
doctype 5
html
  head
    title
    meta(charset="utf-8")
    link(rel="stylesheet",href="page.css")
    //- script(src="http://localhost:7777/doodle.js")
    script(src="../components/jquery/jquery.js")
    script(src="./columnMenu.js")
    link(rel="stylesheet",href="./columnMenu.css")
    script(src="./main.js")
  body
    #page
    #out
      div Project columnMenu